<h1>
 
</h1>



<div class="contents row">
  
 
    <%# <%= render partial: "place", locals: { place: place } %> 
</div>




<script src="http://maps.google.com/maps/api/js?key=AIzaSyAc8ucfbF9aY5Jn9VehhJZ852fopENuQTc"></script>
<style>
html { height: 100% }
body { height: 100% }
#map { height: 50%; width: 50%}
</style>
<body>
<h1>
<div class='phileo-info'>
  PHILEOグルメ  '絶対にハズさない   美味しいお店を検索できる'
  <div class='phileo-info'>
</h1>
<div id="map"></div>

  <div class='item-info'>
    <% @cooks.each do |cook| %>
      <div class='item'> 
        <div class='item-img'>
            <%# <%= image_tag cook.image, id:"shopimage", class:"star-icon" %> 
        </div>
        
      <div class='item-price'>
      <div class='item-store'>
          <%= cook.store%>
        </div>

        <h3 class='item-name'>
          <%= cook.title %>
        </h3>
        </div>
        
          <div>
      </div>
     </div>
    <% end %>
  </div>

  <script>
    var MyLatLng = new google.maps.LatLng(26.2125, 127.68111);
    var Options = {
          zoom: 15,      //地図の縮尺値
          center: MyLatLng,    //地図の中心座標
          mapTypeId: 'roadmap'   //地図の種類
        };
    var map = new google.maps.Map(document.getElementById('map'), Options);
    var marker = new google.maps.Marker({
          map: map,
          position: {lat: 26.2125, lng: 127.68111},       
        });
    var MyLatLng = new google.maps.LatLng(26.2123, 127.68113);
    var Options = {
          zoom: 15,      //地図の縮尺値
          center: MyLatLng,    //地図の中心座標
          mapTypeId: 'roadmap'   //地図の種類
        };
    var map = new google.maps.Map(document.getElementById('map'), Options);
    var marker = new google.maps.Marker({
        map: map,
        position: {lat: 26.214803, lng: 127.676176},
      });
      

    var marker = new google.maps.Marker({
        map: map,
        position: {lat: 26.2155658, lng: 127.6691134},
        });
    var marker = new google.maps.Marker({
        map: map,
        position: {lat: 26.214098, lng: 127.677487},
        });


        infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
        content: '<div class="mapSample">泡盛倉庫</div>' 
      });
      marker.addListener('click', function() { // マーカーをクリックしたとき
      infoWindow.open(map, marker); // 吹き出しの表示    
      });
  </script>

  </body>
  </html> 





